@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap");
.docblock-source,
[id*="tabpanel-storybook/html/panel"] {
  background: #181825 !important;
}
.docblock-source .prismjs,
[id*="tabpanel-storybook/html/panel"] .prismjs {
  color: white;
}
.docblock-source .prismjs *,
[id*="tabpanel-storybook/html/panel"] .prismjs * {
  font-family: "Fira Code", monospace !important;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.4;
}
.docblock-source .prismjs,
[id*="tabpanel-storybook/html/panel"] .prismjs {
  /** Based on Catpuccin Mocha - https://prismjs.catppuccin.com/mocha.css */
}
.docblock-source .prismjs code[class*=language-],
.docblock-source .prismjs pre[class*=language-],
[id*="tabpanel-storybook/html/panel"] .prismjs code[class*=language-],
[id*="tabpanel-storybook/html/panel"] .prismjs pre[class*=language-] {
  color: #cdd6f4;
}
.docblock-source .prismjs :not(pre) > code[class*=language-],
.docblock-source .prismjs pre[class*=language-],
[id*="tabpanel-storybook/html/panel"] .prismjs :not(pre) > code[class*=language-],
[id*="tabpanel-storybook/html/panel"] .prismjs pre[class*=language-] {
  background: #181825;
}
.docblock-source .prismjs,
[id*="tabpanel-storybook/html/panel"] .prismjs {
  /* https://prismjs.com/tokens.html */
}
.docblock-source .prismjs .token.keyword,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.keyword {
  color: #cba6f7;
}
.docblock-source .prismjs .token.builtin,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.builtin {
  color: #f38ba8;
}
.docblock-source .prismjs .token.maybe-class-name,
.docblock-source .prismjs .token.class-name,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.maybe-class-name,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.class-name {
  color: #f9e2af;
}
.docblock-source .prismjs .token.function,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.function {
  color: #89b4fa;
}
.docblock-source .prismjs .token.boolean,
.docblock-source .prismjs .token.number,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.boolean,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.number {
  color: #fab387;
}
.docblock-source .prismjs .token.string,
.docblock-source .prismjs .token.char,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.string,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.char {
  color: #a6e3a1;
}
.docblock-source .prismjs .token.symbol,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.symbol {
  color: #f9e2af;
}
.docblock-source .prismjs .token.regex,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.regex {
  color: #f5c2e7;
}
.docblock-source .prismjs .token.url,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.url {
  color: #a6e3a1;
}
.docblock-source .prismjs .token.operator,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.operator {
  color: #89dceb;
}
.docblock-source .prismjs .token.variable,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.variable {
  color: #cdd6f4;
}
.docblock-source .prismjs .token.dom.variable,
.docblock-source .prismjs .token.constant,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.dom.variable,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.constant {
  color: #fab387;
}
.docblock-source .prismjs .token.property,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.property {
  color: #89b4fa;
}
.docblock-source .prismjs .token.punctuation,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.punctuation {
  color: #9399b2;
}
.docblock-source .prismjs .token.important,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.important {
  color: #cba6f7;
}
.docblock-source .prismjs .token.comment,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.comment {
  color: #9399b2;
}
.docblock-source .prismjs .token.tag,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.tag {
  color: #89b4fa;
}
.docblock-source .prismjs .token.attr-name,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.attr-name {
  color: #f9e2af;
}
.docblock-source .prismjs .token.attr-value,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.attr-value {
  color: #a6e3a1;
}
.docblock-source .prismjs .token.namespace,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.namespace {
  color: #f9e2af;
}
.docblock-source .prismjs .token.prolog,
.docblock-source .prismjs .token.doctype,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.prolog,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.doctype {
  color: #cba6f7;
}
.docblock-source .prismjs .token.cdata,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.cdata {
  color: #94e2d5;
}
.docblock-source .prismjs .token.entity,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.entity {
  color: #f38ba8;
}
.docblock-source .prismjs .token.atrule,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.atrule {
  color: #cba6f7;
}
.docblock-source .prismjs .token.selector,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.selector {
  color: #89b4fa;
}
.docblock-source .prismjs,
[id*="tabpanel-storybook/html/panel"] .prismjs {
  /* Diff */
}
.docblock-source .prismjs .token.deleted,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.deleted {
  color: #f38ba8;
}
.docblock-source .prismjs .token.inserted,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.inserted {
  color: #a6e3a1;
}
.docblock-source .prismjs,
[id*="tabpanel-storybook/html/panel"] .prismjs {
  /* Other */
}
.docblock-source .prismjs .token.important,
.docblock-source .prismjs .token.bold,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.important,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.bold {
  font-weight: bold;
}
.docblock-source .prismjs .token.italic,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.italic {
  font-style: italic;
}

/*# sourceMappingURL=prism-theme.css.map */
