@import "https://doublee.dev/fonts/fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap");
@layer doublee-tokens {
  :root {
    --font-family-body: "Berkeley Old Style", "Californian FB", Georgia, serif;
    --font-family-headings: "Copernicus New Cond", sans-serif;
    --font-family-accent: "Neue Montreal", "Neue Helvetica", Helvetica, Arial, sans-serif;
    --font-family-labels: "Neue Montreal", "Neue Helvetica", Helvetica, Arial, sans-serif;
    --font-family-code: "Fira Code", Consolas, system-ui-monospace, monospace;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --line-height-base: 1.45;
    --line-height-headings: 1.2;
    --typescale: 1.2;
    --font-size-sm: 0.9rem;
    --font-size-base: 1rem;
    --font-size-md: calc(1rem * var(--typescale));
    --font-size-lg: calc(calc(1rem * var(--typescale)) * var(--typescale));
    --font-size-xl: calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale));
    --font-size-xxl: calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --font-size-display: calc(calc(calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --font-sm: var(--font-weight-normal) var(--font-size-sm) var(--font-family-labels);
    --font-base: var(--font-weight-normal) var(--font-size-base) var(--font-family-body);
    --font-md: var(--font-weight-medium) var(--font-size-md)/var(--line-height-headings) var(--font-family-accent);
    --font-lg: var(--font-weight-semibold) var(--font-size-lg)/var(--line-height-headings) var(--font-family-headings);
    --font-xl: var(--font-weight-semibold) var(--font-size-xl)/var(--line-height-headings) var(--font-family-headings);
    --font-xxl: var(--font-weight-semibold) var(--font-size-xxl)/var(--line-height-headings) var(--font-family-headings);
    --font-display: var(--font-weight-semibold) var(--font-size-display)/var(--line-height-headings) var(--font-family-headings);
    --font-labels: var(--font-weight-medium) var(--font-size-sm) var(--font-family-labels);
    --font-captions: var(--font-weight-normal) var(--font-size-sm) var(--font-family-labels);
    --spacing-xxs: calc(calc(calc(calc(calc(calc(1rem / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale));
    --spacing-xs: calc(calc(calc(calc(1rem / var(--typescale)) / var(--typescale)) / var(--typescale)) / var(--typescale));
    --spacing-sm: calc(calc(1rem / var(--typescale)) / var(--typescale));
    --spacing-md: 1rem;
    --spacing-lg: calc(calc(1rem * var(--typescale)) * var(--typescale));
    --spacing-xl: calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --spacing-xxl: calc(calc(calc(calc(calc(calc(1rem * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale)) * var(--typescale));
    --color-primary: #845ec2;
    --color-secondary: #0abfa0;
    --color-accent: #c92c5a;
    --color-info: #24a8e1;
    --color-warning: #ffc75f;
    --color-success: #0abfa0;
    --color-error: #ff775f;
    --color-light: color-mix(in srgb, var(--color-primary) 15%, white);
    --color-dark: color-mix(in srgb, var(--color-primary) 40%, black);
    --color-white: #ffffff;
    --color-body-text: #181825;
    --color-primary-muted: oklch(from color-mix(in srgb, var(--color-primary) 85%, gray 15%) calc(l + 0.15) calc(c * 0.5) calc(h));
    --color-secondary-muted: oklch(from color-mix(in srgb, var(--color-secondary) 85%, gray 15%) calc(l + 0.15) calc(c * 0.5) calc(h));
    --color-light-muted: oklch(from color-mix(in srgb, var(--color-light) 85%, gray 15%) calc(l + 0.07) calc(c * 0.6) calc(h));
    --color-dark-muted: oklch(from color-mix(in srgb, var(--color-dark) 85%, gray 15%) calc(l + 0.07) calc(c * 0.6) calc(h));
    --color-body-text-muted: oklch(from color-mix(in srgb, var(--color-body-text) 85%, gray 15%) calc(l + 0.35) calc(c * 0.8) calc(h));
  }
  @media (min-width: 768px) {
    :root {
      --typescale: 1.25;
    }
  }
}
.prismjs {
  background: #181825;
  color: white;
  /** Based on Catpuccin Mocha - https://prismjs.catppuccin.com/mocha.css */
  /* https://prismjs.com/tokens.html */
  /* Diff */
  /* Other */
}

.prismjs * {
  font-family: "Fira Code", monospace;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.4;
}

.prismjs code[class*=language-],
.prismjs pre[class*=language-] {
  color: #cdd6f4;
}

.prismjs :not(pre) > code[class*=language-],
.prismjs pre[class*=language-] {
  background: #181825;
}

.prismjs .token.keyword {
  color: #cba6f7;
}

.prismjs .token.builtin {
  color: #f38ba8;
}

.prismjs .token.maybe-class-name,
.prismjs .token.class-name {
  color: #f9e2af;
}

.prismjs .token.function {
  color: #89b4fa;
}

.prismjs .token.boolean,
.prismjs .token.number {
  color: #fab387;
}

.prismjs .token.string,
.prismjs .token.char {
  color: #a6e3a1;
}

.prismjs .token.symbol {
  color: #f9e2af;
}

.prismjs .token.regex {
  color: #f5c2e7;
}

.prismjs .token.url {
  color: #a6e3a1;
}

.prismjs .token.operator {
  color: #89dceb;
}

.prismjs .token.variable {
  color: #cdd6f4;
}

.prismjs .token.dom.variable,
.prismjs .token.constant {
  color: #fab387;
}

.prismjs .token.property {
  color: #89b4fa;
}

.prismjs .token.punctuation {
  color: #9399b2;
}

.prismjs .token.important {
  color: #cba6f7;
}

.prismjs .token.comment {
  color: #9399b2;
}

.prismjs .token.tag {
  color: #89b4fa;
}

.prismjs .token.attr-name {
  color: #f9e2af;
}

.prismjs .token.attr-value {
  color: #a6e3a1;
}

.prismjs .token.namespace {
  color: #f9e2af;
}

.prismjs .token.prolog,
.prismjs .token.doctype {
  color: #cba6f7;
}

.prismjs .token.cdata {
  color: #94e2d5;
}

.prismjs .token.entity {
  color: #f38ba8;
}

.prismjs .token.atrule {
  color: #cba6f7;
}

.prismjs .token.selector {
  color: #89b4fa;
}

.prismjs .token.deleted {
  color: #f38ba8;
}

.prismjs .token.inserted {
  color: #a6e3a1;
}

.prismjs .token.important,
.prismjs .token.bold {
  font-weight: bold;
}

.prismjs .token.italic {
  font-style: italic;
}

.docblock-source,
.docs-story + div,
[id*="tabpanel-storybook/html/panel"] {
  background: #181825 !important;
}

.docblock-source .prismjs,
.docs-story + div .prismjs,
[id*="tabpanel-storybook/html/panel"] .prismjs {
  background: #181825;
  color: white;
  /** Based on Catpuccin Mocha - https://prismjs.catppuccin.com/mocha.css */
  /* https://prismjs.com/tokens.html */
  /* Diff */
  /* Other */
}

.docblock-source .prismjs *,
.docs-story + div .prismjs *,
[id*="tabpanel-storybook/html/panel"] .prismjs * {
  font-family: "Fira Code", monospace;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.4;
}

.docblock-source .prismjs code[class*=language-],
.docblock-source .prismjs pre[class*=language-],
.docs-story + div .prismjs code[class*=language-],
.docs-story + div .prismjs pre[class*=language-],
[id*="tabpanel-storybook/html/panel"] .prismjs code[class*=language-],
[id*="tabpanel-storybook/html/panel"] .prismjs pre[class*=language-] {
  color: #cdd6f4;
}

.docblock-source .prismjs :not(pre) > code[class*=language-],
.docblock-source .prismjs pre[class*=language-],
.docs-story + div .prismjs :not(pre) > code[class*=language-],
.docs-story + div .prismjs pre[class*=language-],
[id*="tabpanel-storybook/html/panel"] .prismjs :not(pre) > code[class*=language-],
[id*="tabpanel-storybook/html/panel"] .prismjs pre[class*=language-] {
  background: #181825;
}

.docblock-source .prismjs .token.keyword,
.docs-story + div .prismjs .token.keyword,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.keyword {
  color: #cba6f7;
}

.docblock-source .prismjs .token.builtin,
.docs-story + div .prismjs .token.builtin,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.builtin {
  color: #f38ba8;
}

.docblock-source .prismjs .token.maybe-class-name,
.docblock-source .prismjs .token.class-name,
.docs-story + div .prismjs .token.maybe-class-name,
.docs-story + div .prismjs .token.class-name,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.maybe-class-name,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.class-name {
  color: #f9e2af;
}

.docblock-source .prismjs .token.function,
.docs-story + div .prismjs .token.function,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.function {
  color: #89b4fa;
}

.docblock-source .prismjs .token.boolean,
.docblock-source .prismjs .token.number,
.docs-story + div .prismjs .token.boolean,
.docs-story + div .prismjs .token.number,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.boolean,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.number {
  color: #fab387;
}

.docblock-source .prismjs .token.string,
.docblock-source .prismjs .token.char,
.docs-story + div .prismjs .token.string,
.docs-story + div .prismjs .token.char,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.string,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.char {
  color: #a6e3a1;
}

.docblock-source .prismjs .token.symbol,
.docs-story + div .prismjs .token.symbol,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.symbol {
  color: #f9e2af;
}

.docblock-source .prismjs .token.regex,
.docs-story + div .prismjs .token.regex,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.regex {
  color: #f5c2e7;
}

.docblock-source .prismjs .token.url,
.docs-story + div .prismjs .token.url,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.url {
  color: #a6e3a1;
}

.docblock-source .prismjs .token.operator,
.docs-story + div .prismjs .token.operator,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.operator {
  color: #89dceb;
}

.docblock-source .prismjs .token.variable,
.docs-story + div .prismjs .token.variable,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.variable {
  color: #cdd6f4;
}

.docblock-source .prismjs .token.dom.variable,
.docblock-source .prismjs .token.constant,
.docs-story + div .prismjs .token.dom.variable,
.docs-story + div .prismjs .token.constant,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.dom.variable,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.constant {
  color: #fab387;
}

.docblock-source .prismjs .token.property,
.docs-story + div .prismjs .token.property,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.property {
  color: #89b4fa;
}

.docblock-source .prismjs .token.punctuation,
.docs-story + div .prismjs .token.punctuation,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.punctuation {
  color: #9399b2;
}

.docblock-source .prismjs .token.important,
.docs-story + div .prismjs .token.important,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.important {
  color: #cba6f7;
}

.docblock-source .prismjs .token.comment,
.docs-story + div .prismjs .token.comment,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.comment {
  color: #9399b2;
}

.docblock-source .prismjs .token.tag,
.docs-story + div .prismjs .token.tag,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.tag {
  color: #89b4fa;
}

.docblock-source .prismjs .token.attr-name,
.docs-story + div .prismjs .token.attr-name,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.attr-name {
  color: #f9e2af;
}

.docblock-source .prismjs .token.attr-value,
.docs-story + div .prismjs .token.attr-value,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.attr-value {
  color: #a6e3a1;
}

.docblock-source .prismjs .token.namespace,
.docs-story + div .prismjs .token.namespace,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.namespace {
  color: #f9e2af;
}

.docblock-source .prismjs .token.prolog,
.docblock-source .prismjs .token.doctype,
.docs-story + div .prismjs .token.prolog,
.docs-story + div .prismjs .token.doctype,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.prolog,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.doctype {
  color: #cba6f7;
}

.docblock-source .prismjs .token.cdata,
.docs-story + div .prismjs .token.cdata,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.cdata {
  color: #94e2d5;
}

.docblock-source .prismjs .token.entity,
.docs-story + div .prismjs .token.entity,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.entity {
  color: #f38ba8;
}

.docblock-source .prismjs .token.atrule,
.docs-story + div .prismjs .token.atrule,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.atrule {
  color: #cba6f7;
}

.docblock-source .prismjs .token.selector,
.docs-story + div .prismjs .token.selector,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.selector {
  color: #89b4fa;
}

.docblock-source .prismjs .token.deleted,
.docs-story + div .prismjs .token.deleted,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.deleted {
  color: #f38ba8;
}

.docblock-source .prismjs .token.inserted,
.docs-story + div .prismjs .token.inserted,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.inserted {
  color: #a6e3a1;
}

.docblock-source .prismjs .token.important,
.docblock-source .prismjs .token.bold,
.docs-story + div .prismjs .token.important,
.docs-story + div .prismjs .token.bold,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.important,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.bold {
  font-weight: bold;
}

.docblock-source .prismjs .token.italic,
.docs-story + div .prismjs .token.italic,
[id*="tabpanel-storybook/html/panel"] .prismjs .token.italic {
  font-style: italic;
}

.docblock-source .prismjs *,
.docs-story + div .prismjs *,
[id*="tabpanel-storybook/html/panel"] .prismjs * {
  font-family: "Fira Code", monospace !important;
}

#storybook-explorer-tree button {
  font-size: var(--font-size-sm);
  font-weight: 530;
}

#storybook-explorer-tree .sidebar-item button, #storybook-explorer-tree .sidebar-item a {
  font-size: var(--font-size-sm);
  font-weight: 400;
}



/*# sourceMappingURL=manager.css.map */
